@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Rubik:wght@800&display=swap");

/* Variables */
:root {
  --font-family: "Roboto Mono", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4f5bc7;
  --secondary-color: #ce5a29;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10vw!important;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
    font-family: Rubik, sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

.hero-img {
  width: 350px;
  max-height: 350px;
  border-radius: 50%;
}

.bio {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.bio h1 {
  font-family: Rubik, sans-serif;
  font-size: 40px;
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio-socials{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.more-about {
  background-color: var(--bg-color);
  padding-bottom: 5em;
}

.about-content{
  text-align: justify;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-container2{
  float: center;
}

.about-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 350px;
  max-width: 350px;
  border-radius: 10%;
}

.more-about h2 {
  font-family: Rubik, sans-serif;
  margin-bottom: var(--bottom-margin);
  text-align: center;
  padding: 1rem 0;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0 3rem 0 3rem;
  max-width: 50%;
}

.academic{
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.academic-header{
  font-family: Rubik, sans-serif;
  margin-bottom: 1rem;
}

.duration-academic{
  color: #969696;
  padding-bottom: 1rem;
}

.academic-details{
  text-align: justify;
}

.academics-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 3rem 0 3rem;
}

.academic-container{
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}

.skills {
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  font-family: Rubik, sans-serif;
  margin-bottom: 1rem;
}

.logos{
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos:before, .logos::after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before{
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.logos::after{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}

.logos-slide{
  display: inline-block;
  animation: 15s slide infinite linear;
}

.logos-slide img{
  height: 80px;
  margin: 0 40px;
}

@keyframes slide{
  from{
    transform: translateX(0.5%);
  }
  to{
    transform: translateX(-100%);
  }
}

.skills-languages{
  display: flex;
  justify-content: center;
}

.language-card{
  display: flex;
  padding: 3rem 5rem;
}

.icon-lng{
  padding-right: 1rem ;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.projects-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.projects-title {
  font-family: Rubik, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
}

.project-container p {
  padding: 0.4rem;
  flex-grow: 1;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  font-family: Rubik, sans-serif;
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
  z-index: 10;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

@media screen and (max-width: 1100px) {
  .projects-container {
    align-items: center;
    flex-direction: column;
  }

  .project-card{
    width:60%;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 850px) {
  .hero {
    margin-top: 2em;
    flex-direction: column;
    gap: 1rem;
  }

  .bio {
    gap: 1rem;
  }

  .about-content{
    flex-direction: column-reverse;
  }

  .more-about p {
    padding: 2rem 3rem 0 3rem;
    max-width: 100%;
  }

  .academics-container{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  nav{
    display: none;
  }

  .skills-languages{
    flex-direction: column;
  }

  .language-card{
    justify-content: center;
  }

  .project-card{
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .project-card{
    width: 90%;
  }

  .hero-img{
    max-width: 250px;
    max-height: 250px;
  }

  .about-img{
    max-width: 250px;
    max-height: 250px;
  }

}